{% extends "base.html.twig" %}

{% block body %}

    <header class="jumbotron jumbotron-fluid">
    <section class="container">
        <h1 class="display-4 text-primary">Banque Symfony</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </section>
    </header>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{path("accounts")}}">Vos comptes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("add_bank_account")}}">Créer un compte bancaire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("app_logout")}}">Déconnexion</a>
        </li>
    </ul>

    {% block main %}{% endblock %}

    <footer class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">Réalisation Adrien Girin & Aurélie Lerouxel</p>
    </div>
    </footer>

{% endblock %}

