{% extends "base.html.twig" %}

{% block body %}

    <header class="jumbotron jumbotron-fluid">
    <section class="container">
        <h1 class="display-4">Banque Symfony</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </section>
    </header>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path("index") }}">Acceuil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Créer un compte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Déconnexion</a>
        </li>

    </ul>

    {% block main %}{% endblock %}

    <footer class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">Réalisation Adrien Girin & Aurélie Lerouxel</p>
    </div>
    </footer>

{% endblock %}

