{% extends 'template.html.twig' %}

{% block title %}Créer un compte bancaire{% endblock %}

{% block main %}
<div class="container">
    <h1>Page pour créer un compte bancaire</h1>
</div>

{% endblock %}
